<!DOCTYPE html>

<html>
  <head>
    <title>bind functions - angular</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../angular_standard.css">
    <script src="bind_functions.dart" type="application/dart"></script>
    <script src="packages/browser/dart.js"></script>
  </head>

  <body ng-app>
    <div person-greeter class="border well" ng-cloak>
      <p>What's your name?:</p>
      <input type="text" ng-model="person.user.name" />
      <button ng-click="person.greet()" class="btn btn-primary">Click here!</button>
      <h3>{{person.message}}</h3>
    </div>
  </body>
</html>
