<!DOCTYPE html>

<html>
  <head>
    <title>services - angular</title>
    <link rel="stylesheet" href="../angular_standard.css">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <script type="application/dart" src="services_factory.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </head>
  <body ng-app ng-cloak>
    <div main-controller>
      MainCtrl: <input type="text" ng-model="mcntl.user.name">
    </div>
    <div second-controller>
      SecondCtrl: <input type="text" ng-model="scntl.user.name">
    </div>
  </body>
</html>
